@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&family=Segoe+UI:wght@400;600&display=swap');
:root {
    --color-fondo: #4d4e8f;
    --color-tarjeta: #3a4278;
    --color-tarjeta-sub: #16254a;
    --color-texto-titulo: #fccfff;
    --color-texto-cuerpo: #C0CEE0;
    --color-rosa: #e1a8fa;
    --color-azul1: #a5dbe7;
    --color-azul2: #9cbae7;
    --borde-suave: #5261a5;
}

